/* class change*/
/* 
.square{
width: 200;
height: 200px;
background-color: yellow;
}  */

/* Task button color change */

/* .circle{
    width: 400px;
    height: 400px;
    border-radius:50% ;
    background-color: yellow;
}
.square{
    height:400px;
    width:400px;
    background-color: green;
}

.rectangle{
    height: 300px;
    width: 600px;
    background-color: red;
} */